md-content.md-default-theme {
  background-color: #eee; }

md-card {
  background-color: #fff; }
  md-card h2:first-of-type {
    margin-top: 0; }

md-toolbar .md-button.md-default-theme {
  border-radius: 99%; }

h2 {
  font-weight: 400; }

.md-toolbar-tools-bottom {
  font-size: small; }
  .md-toolbar-tools-bottom :last-child {
    opacity: 0.8; }

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff; }

md-sidenav {
  fill: #737373; }
  md-sidenav ng-md-icon {
    position: relative;
    top: 5px; }

.user-avatar {
  border-radius: 99%; }

.well {
  text-align: center;
  vertical-align: central; }

md-grid-list {
  margin: 8px; }

.gray {
  background: #f5f5f5; }

.green {
  background: #b9f6ca; }

.yellow {
  background: #ffff8d; }

.blue {
  background: #24267a; }

.purple {
  background: #b388ff; }

.red {
  background: #ff8a80; }

md-grid-tile {
  transition: all 400ms ease-out 50ms; }

.card-info-label {
  font-size: 0.95em !important;
  font-weight: 500; }

.well {
  text-align: center;
  padding-bottom: 15px; }

.well h4 {
  margin-bottom: 2px !important; }

.animation.ng-enter,
.animation.ng-leave {
  -webkit-transition: 0.3s; }

.animation.ng-enter {
  opacity: 0; }

.animation.ng-leave {
  opacity: 1; }

.animation.ng-enter.ng-enter-active {
  opacity: 1; }

.animation.ng-leave.ng-leave-active {
  opacity: 0; }

